<h1>Update Pet</h1>
<form class="" action="/pets/<%= @pet.id %>" method="post">
  Name of pet::<input type="text" name="pet_name" value="<%= @pet.name%>">

  <br>Choose an Owner:
  <%@owners.each do |o|%>
  <br><%=o.name%>:<input type="radio" name="owner[id]" id="<%= o.id %>" value="<%= o.id %>" <%='checked' if @pet.owner.id == o.id %> >
  <%end%>
  <br>
  and/or, create a new owner:<br>
  name: <input  type="text" name="owner[name]" id="owner_name">
  <br>
  <input type="submit" name="" value="Update Pet">
</form>
